<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="home-row">
    <a class="home" th:href="@{/}">
        <h1>My Shop</h1>
    </a>

    <a class="more" th:href="@{/more-filters}">
        <h2>MORE>></h2>
    </a>
</div>

<header th:fragment="only-header">


    <ul class="navigation">
        <li class="nav-item">
            <a th:href="@{/only-available}">ONLY AVAILABLE </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/cheapest-first}">CHEAPEST FIRST</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/contains-nike}">CONTAINS NIKE</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/average-stock}">AVERAGE STOCK</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/most-expensive}">MOST EXPENSIVE AVAILABLE</a>
        </li>
    </ul>

    <form class="search-form" action="/search" method="post">
        <label for="search">Search for:</label>
        <input id="search" name="search" placeholder="...something like nike">
        <button id="submit" type="submit">Search</button>
    </form>
</header>

